<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/p5.js"></script>
    <script src="./javascripts/demo.js"></script>
  </head>
  <body>

    <p>Welcome to <%= title %> - Demo page</p>

    <div> Here you can see the various actions this device can do</div>
    <br>
    <div> Left Sensor: Open a bunch of pages </div>
    <div> Middle Sensor: Type some string</div>
    <div> Right Sensor: Move mouse </div>

    <br>
    <h2 id="action"> No actions done yet</h2>

  </body>
</html>
