<!DOCTYPE html>
<html>
  <head>
    <title>WristBand - Home</title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {
        font-family: 'Roboto Condensed', sans-serif; font-weight: 700; 
      }

      h1 {
        width: auto;
        height: 280px;
        margin: auto;
        padding-top: 140px;
        text-align: center;
        border-style: solid;
        border-width: 10px;
      }

    </style>
  </head>
  <body>

    <h1>WristBand</h1>
    <h2><a href="/graph"> Graph </a></h2>
    <h2><a href="/wristgraph"> Wrist Graph </a></h2>
    <h2><a href="/demo"> Demo </a></h2>

  </body>
</html>
