<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.0.0/Chart.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/p5.js/0.4.23/p5.js"></script>
    <script src="./javascripts/wristGraph.js"></script>
  </head>
  <body>
    <p>Welcome to <%= title %></p>
    <h3 id='piezoValA'>A </h3> <h3 id="piezoAvgA"> </h3>
    <h3 id='piezoValB'>B </h3> <h3 id="piezoAvgB"> </h3>
    <h3 id='piezoValC'>C </h3> <h3 id="piezoAvgC"> </h3>
  </body>
</html>
